.clients {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .clients__icon {
    height: 60px;
    width: 170px;
    --color1: var(--grey-color);
    outline: 1px solid var(--grey-color);
    &:hover{
      --color1: var(--main-color);
    outline: 1px solid var(--main-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
 