footer {
    background-color: #2f303a;
  
    padding: 60px 0;
  }
  
  .logo-part2--footer{
  color: var(--button_text-color);
  }
  
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  .company-details {
    
    display: flex;
    flex-direction: column;
  }
  
  .company-details__address {
    display: block;
    color: var(--button_text-color);
    font-size: 14px;
    line-height: 1.71;
    margin-top:10px ;
  }
  
  .company-details__contact {
    color: var(--adress-color);
    text-decoration: none;
    margin-top: 5px;
  }
  
  
  .footer__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
    color: var(--button_text-color);
    margin-bottom: 24px;
  
  }
  .footer-icons__wrap {
    display: flex;
  }
  

  .footer-icons__item {
    width: 44px;
    height: 44px;
    margin-right: 20px;
    --color1: var(--grey-color);
    --color2: var(--button_text-color);
    cursor: pointer;
    &:hover{
        --color1: var(--main-color);
    --color2: var(--button_text-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
 

.footer-form__label{
  
  font-family: Roboto;
  font-Weight:700;
  line-height:16.41px;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  color: var(--button_text-color);
  margin-bottom: 24px;
}


.footer-form__wrapper{
   padding-top: 20px;
  padding-bottom: 32px;
  display: flex;
  margin-left: 0;
  text-align: left;
}




.footer-form__button{
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color:var(--main-color);
 
  font-family: Roboto;
  color:var(--button_text-color);
  font-Weight:700;
  font-Size:16px;
  Line-height:30px;
 
  display: inline-block;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-left: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0px;
  }
  

  input#email{
    width:358px;
    Height:50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color:var(--brand-color-background);
    border-radius: 4px;
    font-family: Roboto;
    font-Weight:400;
    font-Size:16px;
    line-height:20px;
    padding-left:16px;
    color:rgba(255, 255, 255, 0.6);
     }


.footer-form-icon{fill:var(--button_text-color);
  margin-left: 24px;
  margin-right: 28px;
  display: flexbox;
 align-items: center;}