.logo-part1 {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--main-color);
    text-decoration: none;
    float: left;
  }
  
  .logo-part2 {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--dark-color);
    text-decoration: none;
    float: left;
  }