.lorem__wrapper{
  display: flex;
  gap: 30px;
  
}

.lorem {
  display: flex;
  flex-direction: column;
 
  
  
}

.lorem__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  
  color: var(--black-color);
  font-size: 700;
}

.lorem__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
 
  color: var(--grey-color);
  text-decoration: none;
  margin-top: 10px;
}

.lorem__icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
